net	sclk		loc = a9;
net	sda		loc = a2;
net	scl		loc = b2;

net  kick_cmd    loc = f1;
net  valid_kick  loc = h2;
net  reset_n     loc = e1;
net  ena         loc = f2;
net  device_busy loc = c1;
net  module_sel  loc = e2;

net  dbg_st(0)  loc = h1;
net  dbg_st(1)  loc = k3;
net  dbg_st(2)  loc = m2;
net  dbg_st(3)  loc = r2;

