net	sclk		loc = a9;
net	sda		loc = b1;
net	scl		loc = b2;
net	ack_err	loc = e1;
#net	busy		loc = e2;

net	dbg_st(0) loc = h2;
net	dbg_st(1) loc = f2;
net	dbg_st(2) loc = e2;
net	dbg_st(3) loc = c1;


